absl-py==2.1.0
accelerate==0.27.2
aiohttp==3.10.2
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
async-lock==66.0.2
attrs==23.2.0
blinker==1.6.2
cachetools==5.3.3
certifi==2024.7.4
charset-normalizer==3.1.0
chex==0.1.82
click==8.1.3
datasets==2.18.0
dill==0.3.8
dnspython==1.16.0
docopt==0.6.2
etils==1.7.0
filelock==3.13.1
Flask==3.0.3
Flask-Cors==4.0.0
flax==0.7.0
frozenlist==1.4.1
fsspec==2024.2.0
google-api-core==2.19.0
google-api-python-client==2.137.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.63.0
gunicorn==22.0.0
h11==0.14.0
holidays==0.29
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.21.3
idna==3.4
importlib_resources==6.1.2
install==1.3.5
itsdangerous==2.1.2
jax==0.4.13
jaxlib==0.4.13
Jinja2==3.1.2
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.2.14
langchain-core==0.2.34
langchain-text-splitters==0.2.2
langsmith==0.1.101
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
ml-dtypes==0.3.2
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
nest-asyncio==1.6.0
networkx==3.2.1
numpy==1.26.4
oauthlib==3.2.2
opt-einsum==3.3.0
optax==0.1.4
orbax-checkpoint==0.5.3
orjson==3.10.7
packaging==24.1
pandas==2.2.1
pipreqs==0.4.13
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.8
psycopg2-binary==2.9.6
pyarrow==15.0.2
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.17.2
PyJWT==2.8.0
pymongo==3.11.0
pyparsing==3.1.2
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
requests-oauthlib==2.0.0
rich==13.7.1
rsa==4.9
safetensors==0.4.2
scipy==1.12.0
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.32
sympy==1.12
tenacity==8.5.0
tensorstore==0.1.54
tokenizers==0.15.2
toolz==0.12.1
torch==2.2.1
tqdm==4.66.2
transformers==4.38.2
typing_extensions==4.10.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.0.3
Werkzeug==3.0.3
xxhash==3.4.1
yarg==0.1.9
yarl==1.9.4
zipp==3.17.0
