option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    FLASK_APP: "application.py"
    FLASK_ENV: "production"
    MONGODB_URI: "mongodb+srv://Jwusterines:WbAIhL0kio5psaZX@cluster1.b4lxs.mongodb.net/?retryWrites=true&w=majority&appName=Cluster1"
    FIREBASE_PROJECT_ID: "yourdai"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    PORT: "8000"
  aws:autoscaling:launchconfiguration:
    InstanceType: "t2.micro"
    
  # Add nginx configuration
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  
  # Configure nginx to forward requests correctly
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

packages:
  yum:
    python3: []
    python3-devel: []
    gcc: []

container_commands:
  01_wsgipass:
    command: |
      echo 'WSGIPassAuthorization On' >> ../wsgi.conf
  02_install_requirements:
    command: |
      source /var/app/venv/*/bin/activate
      pip install --no-cache-dir -r requirements.txt

files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 20M;
      proxy_connect_timeout 75s;
      proxy_read_timeout 300s;